################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KHN/.vs
/KHN/KHN.Cons/obj
/KHN/KHN.Cons/bin/Debug/net8.0
